{% extends 'base.html' %}

{% block content %}

<style type="text/css">
        html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 1600px;
      padding: 0rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="text"] {
      margin-bottom: 5px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .themed-grid-col {
      padding-top: .75rem;
      padding-bottom: .75rem;
      background-color: rgba(112.520718, 44.062154, 249.437846, .15);
      border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
    }

    .themed-container {
      padding: .75rem;
      margin-bottom: 1.5rem;
      background-color: rgba(112.520718, 44.062154, 249.437846, .15);
      border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
    }

    .fs-7 {
    font-size: 12.1px;
    }

    .fs-8 {
    font-size: 11.5px;
    }

    ul > li {
    display: inline-block;
    }

</style>
<form class="form-signin w-100 m-auto" method="POST">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">QiaSymphony 24 Loading Sample Check</h1>

    <h4>Worksheet Number</h4>

    <div class="form-floating">
      <input type="text" autofocus name="Qiasymphony24Load_worksheet" class="form-control" id="floatingInput1" placeholder="Worksheet Number">
      <label for="floatingInput1">Worksheet Number</label>
    </div>

    <h4>Sample Tubes</h4>

    <div class="container">
        <div class = "row justify-content-md-center">
            <div class ="col-sm fs-7">Sample Tube 1</div>
            <div class ="col-sm fs-7">Sample Tube 2</div>
            <div class ="col-sm fs-7">Sample Tube 3</div>
            <div class ="col-sm fs-7">Sample Tube 4</div>
            <div class ="col-sm fs-7">Sample Tube 5</div>
            <div class ="col-sm fs-7">Sample Tube 6</div>
            <div class ="col-sm fs-7">Sample Tube 7</div>
            <div class ="col-sm fs-7">Sample Tube 8</div>
            <div class ="col-sm fs-7">Sample Tube 9</div>
            <div class ="col-sm fs-7">Sample Tube 10</div>
            <div class ="col-sm fs-7">Sample Tube 11</div>
            <div class ="col-sm fs-7">Sample Tube 12</div>
        </div>
        <div class = "row justify-content-md-center">
            <div class ="col-sm">
                <input type="text" name="sampletube1" class="form-control fs-8" placeholder="ST 1">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube2" class="form-control fs-8" placeholder="ST 2">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube3" class="form-control fs-8" placeholder="ST 3">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube4" class="form-control fs-8" placeholder="ST 4">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube5" class="form-control fs-8" placeholder="ST 5">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube6" class="form-control fs-8" placeholder="ST 6">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube7" class="form-control fs-8" placeholder="ST 7">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube8" class="form-control fs-8" placeholder="ST 8">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube9" class="form-control fs-8" placeholder="ST 9">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube10" class="form-control fs-8" placeholder="ST 10">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube11" class="form-control fs-8" placeholder="ST 11">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube12" class="form-control fs-8" placeholder="ST 12">
            </div>
        </div>
            <div class = "row justify-content-md-center">
                <div class ="col-sm fs-7">Sample Tube 13</div>
                <div class ="col-sm fs-7">Sample Tube 14</div>
                <div class ="col-sm fs-7">Sample Tube 15</div>
                <div class ="col-sm fs-7">Sample Tube 16</div>
                <div class ="col-sm fs-7">Sample Tube 17</div>
                <div class ="col-sm fs-7">Sample Tube 18</div>
                <div class ="col-sm fs-7">Sample Tube 19</div>
                <div class ="col-sm fs-7">Sample Tube 20</div>
                <div class ="col-sm fs-7">Sample Tube 21</div>
                <div class ="col-sm fs-7">Sample Tube 22</div>
                <div class ="col-sm fs-7">Sample Tube 23</div>
                <div class ="col-sm fs-7">Sample Tube 24</div>
            </div>

        <div class = "row justify-content-md-center">
            <div class ="col-sm">
                <input type="text" name="sampletube13" class="form-control fs-8" placeholder="ST 13">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube14" class="form-control fs-8" placeholder="ST 14">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube15" class="form-control fs-8" placeholder="ST 15">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube16" class="form-control fs-8" placeholder="ST 16">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube17" class="form-control fs-8" placeholder="ST 17">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube18" class="form-control fs-8" placeholder="ST 18">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube19" class="form-control fs-8" placeholder="ST 19">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube20" class="form-control fs-8" placeholder="ST 20">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube21" class="form-control fs-8" placeholder="ST 21">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube22" class="form-control fs-8" placeholder="ST 22">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube23" class="form-control fs-8" placeholder="ST 23">
            </div>
            <div class ="col-sm">
                <input type="text" name="sampletube24" class="form-control fs-8" placeholder="ST 24">
            </div>
        </div>
    </div>

    <h4>Elution Tubes</h4>

    <div class="container">
        <div class = "row justify-content-md-center">
            <div class ="col-sm fs-7">Elution Tube 1</div>
            <div class ="col-sm fs-7">Elution Tube 2</div>
            <div class ="col-sm fs-7">Elution Tube 3</div>
            <div class ="col-sm fs-7">Elution Tube 4</div>
            <div class ="col-sm fs-7">Elution Tube 5</div>
            <div class ="col-sm fs-7">Elution Tube 6</div>
            <div class ="col-sm fs-7">Elution Tube 7</div>
            <div class ="col-sm fs-7">Elution Tube 8</div>
            <div class ="col-sm fs-7">Elution Tube 9</div>
            <div class ="col-sm fs-7">Elution Tube 10</div>
            <div class ="col-sm fs-7">Elution Tube 11</div>
            <div class ="col-sm fs-7">Elution Tube 12</div>
        </div>
        <div class = "row justify-content-md-center">
            <div class ="col-sm">
                <input type="text" name="elutiontube1" class="form-control fs-8" placeholder="EL 1">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube2" class="form-control fs-8" placeholder="EL 2">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube3" class="form-control fs-8" placeholder="EL 3">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube4" class="form-control fs-8" placeholder="EL 4">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube5" class="form-control fs-8" placeholder="EL 5">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube6" class="form-control fs-8" placeholder="EL 6">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube7" class="form-control fs-8" placeholder="EL 7">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube8" class="form-control fs-8" placeholder="EL 8">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube9" class="form-control fs-8" placeholder="EL 9">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube10" class="form-control fs-8" placeholder="EL 10">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube11" class="form-control fs-8" placeholder="EL 11">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube12" class="form-control fs-8" placeholder="EL 12">
            </div>
        </div>
            <div class = "row justify-content-md-center">
            <div class ="col-sm fs-7">Elution Tube 13</div>
            <div class ="col-sm fs-7">Elution Tube 14</div>
            <div class ="col-sm fs-7">Elution Tube 15</div>
            <div class ="col-sm fs-7">Elution Tube 16</div>
            <div class ="col-sm fs-7">Elution Tube 17</div>
            <div class ="col-sm fs-7">Elution Tube 18</div>
            <div class ="col-sm fs-7">Elution Tube 19</div>
            <div class ="col-sm fs-7">Elution Tube 20</div>
            <div class ="col-sm fs-7">Elution Tube 21</div>
            <div class ="col-sm fs-7">Elution Tube 22</div>
            <div class ="col-sm fs-7">Elution Tube 23</div>
            <div class ="col-sm fs-7">Elution Tube 24</div>
        </div>
        <div class = "row justify-content-md-center">
            <div class ="col-sm">
                <input type="text" name="elutiontube13" class="form-control fs-8" placeholder="EL 13">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube14" class="form-control fs-8" placeholder="EL 14">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube15" class="form-control fs-8" placeholder="EL 15">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube16" class="form-control fs-8" placeholder="EL 16">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube17" class="form-control fs-8" placeholder="EL 17">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube18" class="form-control fs-8" placeholder="EL 18">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube19" class="form-control fs-8" placeholder="EL 19">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube20" class="form-control fs-8" placeholder="EL 20">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube21" class="form-control fs-8" placeholder="EL 21">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube22" class="form-control fs-8" placeholder="EL 22">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube23" class="form-control fs-8" placeholder="EL 23">
            </div>
            <div class ="col-sm">
                <input type="text" name="elutiontube24" class="form-control fs-8" placeholder="EL 24">
        </div>
        </div>
    </div>

<!--        <div class="form-floating">-->
<!--      <input type="text" name="sampletube1" class="form-control" id="floatingInput2" placeholder="Sample Tube 1">-->
<!--      <label for="floatingInput2">Sample Tube 1</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube2" class="form-control" id="floatingInput3" placeholder="Sample Tube 2">-->
<!--      <label for="floatingInput3">Sample Tube 2</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube3" class="form-control" id="floatingInput4" placeholder="Sample Tube 3">-->
<!--      <label for="floatingInput4">Sample Tube 3</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube4" class="form-control" id="floatingInput5" placeholder="Sample Tube 4">-->
<!--      <label for="floatingInput5">Sample Tube 4</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube5" class="form-control" id="floatingInput6" placeholder="Sample Tube 5">-->
<!--      <label for="floatingInput6">Sample Tube 5</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube6" class="form-control" id="floatingInput7" placeholder="Sample Tube 6">-->
<!--      <label for="floatingInput7">Sample Tube 6</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube7" class="form-control" id="floatingInput8" placeholder="Sample Tube 7">-->
<!--      <label for="floatingInput8">Sample Tube 7</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube8" class="form-control" id="floatingInput9" placeholder="Sample Tube 8">-->
<!--      <label for="floatingInput9">Sample Tube 8</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube9" class="form-control" id="floatingInput10" placeholder="Sample Tube 9">-->
<!--      <label for="floatingInput10">Sample Tube 9</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube10" class="form-control" id="floatingInput11" placeholder="Sample Tube 10">-->
<!--      <label for="floatingInput11">Sample Tube 10</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube11" class="form-control" id="floatingInput12" placeholder="Sample Tube 11">-->
<!--      <label for="floatingInput12">Sample Tube 11</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube12" class="form-control" id="floatingInput13" placeholder="Sample Tube 12">-->
<!--      <label for="floatingInput13">Sample Tube 12</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube13" class="form-control" id="floatingInput14" placeholder="Sample Tube 13">-->
<!--      <label for="floatingInput14">Sample Tube 13</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube14" class="form-control" id="floatingInput15" placeholder="Sample Tube 14">-->
<!--      <label for="floatingInput15">Sample Tube 14</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube15" class="form-control" id="floatingInput16" placeholder="Sample Tube 15">-->
<!--      <label for="floatingInput16">Sample Tube 15</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube16" class="form-control" id="floatingInput17" placeholder="Sample Tube 16">-->
<!--      <label for="floatingInput17">Sample Tube 16</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube17" class="form-control" id="floatingInput18" placeholder="Sample Tube 17">-->
<!--      <label for="floatingInput18">Sample Tube 17</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube18" class="form-control" id="floatingInput19" placeholder="Sample Tube 18">-->
<!--      <label for="floatingInput19">Sample Tube 18</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube19" class="form-control" id="floatingInput20" placeholder="Sample Tube 19">-->
<!--      <label for="floatingInput20">Sample Tube 19</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube20" class="form-control" id="floatingInput21" placeholder="Sample Tube 20">-->
<!--      <label for="floatingInput21">Sample Tube 20</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube21" class="form-control" id="floatingInput22" placeholder="Sample Tube 21">-->
<!--      <label for="floatingInput22">Sample Tube 21</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube22" class="form-control" id="floatingInput23" placeholder="Sample Tube 22">-->
<!--      <label for="floatingInput23">Sample Tube 22</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube23" class="form-control" id="floatingInput24" placeholder="Sample Tube 23">-->
<!--      <label for="floatingInput24">Sample Tube 23</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="sampletube24" class="form-control" id="floatingInput25" placeholder="Sample Tube 24">-->
<!--      <label for="floatingInput25">Sample Tube 24</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube1" class="form-control" id="floatingInput26" placeholder="Elution Tube 1">-->
<!--      <label for="floatingInput26">Elution Tube 1</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube2" class="form-control" id="floatingInput27" placeholder="Elution Tube 2">-->
<!--      <label for="floatingInput27">Elution Tube 2</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube3" class="form-control" id="floatingInput28" placeholder="Elution Tube 3">-->
<!--      <label for="floatingInput28">Elution Tube 3</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube4" class="form-control" id="floatingInput29" placeholder="Elution Tube 4">-->
<!--      <label for="floatingInput29">Elution Tube 4</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube5" class="form-control" id="floatingInput30" placeholder="Elution Tube 5">-->
<!--      <label for="floatingInput30">Elution Tube 5</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube6" class="form-control" id="floatingInput31" placeholder="Elution Tube 6">-->
<!--      <label for="floatingInput31">Elution Tube 6</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube7" class="form-control" id="floatingInput32" placeholder="Elution Tube 7">-->
<!--      <label for="floatingInput32">Elution Tube 7</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube8" class="form-control" id="floatingInput33" placeholder="Elution Tube 8">-->
<!--      <label for="floatingInput33">Elution Tube 8</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube9" class="form-control" id="floatingInput34" placeholder="Elution Tube 9">-->
<!--      <label for="floatingInput34">Elution Tube 9</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube10" class="form-control" id="floatingInput35" placeholder="Elution Tube 10">-->
<!--      <label for="floatingInput35">Elution Tube 10</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube11" class="form-control" id="floatingInput36" placeholder="Elution Tube 11">-->
<!--      <label for="floatingInput36">Elution Tube 11</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube12" class="form-control" id="floatingInput37" placeholder="Elution Tube 12">-->
<!--      <label for="floatingInput37">Elution Tube 12</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube13" class="form-control" id="floatingInput38" placeholder="Elution Tube 13">-->
<!--      <label for="floatingInput38">Elution Tube 13</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube14" class="form-control" id="floatingInput39" placeholder="Elution Tube 14">-->
<!--      <label for="floatingInput39">Elution Tube 14</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube15" class="form-control" id="floatingInput40" placeholder="Elution Tube 15">-->
<!--      <label for="floatingInput40">Elution Tube 15</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube16" class="form-control" id="floatingInput41" placeholder="Elution Tube 16">-->
<!--      <label for="floatingInput41">Elution Tube 16</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube17" class="form-control" id="floatingInput42" placeholder="Elution Tube 17">-->
<!--      <label for="floatingInput42">Elution Tube 17</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube18" class="form-control" id="floatingInput43" placeholder="Elution Tube 18">-->
<!--      <label for="floatingInput43">Elution Tube 18</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube19" class="form-control" id="floatingInput44" placeholder="Elution Tube 19">-->
<!--      <label for="floatingInput44">Elution Tube 19</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube20" class="form-control" id="floatingInput45" placeholder="Elution Tube 20">-->
<!--      <label for="floatingInput45">Elution Tube 20</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube21" class="form-control" id="floatingInput46" placeholder="Elution Tube 21">-->
<!--      <label for="floatingInput46">Elution Tube 21</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube22" class="form-control" id="floatingInput47" placeholder="Elution Tube 22">-->
<!--      <label for="floatingInput47">Elution Tube 22</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube23" class="form-control" id="floatingInput48" placeholder="Elution Tube 23">-->
<!--      <label for="floatingInput48">Elution Tube 23</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="text" name="elutiontube24" class="form-control" id="floatingInput49" placeholder="Elution Tube 24">-->
<!--      <label for="floatingInput49">Elution Tube 24</label>-->
<!--    </div>-->

    <!-- Hidden input fields for Qiasymphony24Load_method and Qiasymphony24Check_result -->
    <input type="hidden" name="Qiasymphony24Load_method" value="Qiasymphony24Check">
    <input type="hidden" name="Qiasymphony24Check_result" value="True">


{% if Qiasymphony24.errors %}
    <p>
        <h4 style="color:red;">Missing fields or incorrect values were found when submitting check:</h4>
    </p>
    <ul>
        <li style="color:red;">
            {{Qiasymphony24.errors}}
        </li>
    </ul>
{% endif %}

    <button class="btn btn-primary w-100 py-2" type="submit">Check</button>
</form>
{% endblock content %}