{% extends 'base.html' %}

{% block content %}

<style type="text/css">
        html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="text"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

{% if form.fields  %}
    <h2>Worksheet</h2>
{% endif %}
<form method="post" id="check">{% csrf_token %}
    {{ form.as_p }}
    <h3>Barcodes</h3>
    {{ barcodes.as_p }}
    <input type="submit" id="submit-button" value="Save">

</form>

<script>
    document.getElementById('check').addEventListener('submit', function (event) {
        var barcodeInputs = document.querySelectorAll('input[name*="barcode_set-"]:not([type="hidden"])');
        var filledCount = 0;
        var totalCount = document.querySelector('[id$="set-TOTAL_FORMS').value;
        console.log(totalCount)

        barcodeInputs.forEach(function (input) {
            if (input.value.trim() !== '') {
                filledCount++;
            }
        });

        if (filledCount < totalCount) {
            var confirmation = confirm("Only " + filledCount + " of " + totalCount + " barcodes added. Are you sure you want to submit?");
            if (!confirmation) {
                event.preventDefault(); // Prevent form submission
            }
        }
    });
</script>

{% endblock content %}