{% extends 'base.html' %}

{% block content %}

{% if worksheet_number %}
    <h2>Worksheet: {{ worksheet_number }} </h2>
    <h2>Check {{ check_number }} - {{ check_description }}</h2>
{% elif form.fields  %}
    <h2>Worksheet</h2>

{% endif %}
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col">

        </div>
        <div class="col">
            <ul>
                {% for check in object_list %}
                    <li>{{ check }}</li>
                {% empty %}
                    <li>No articles yet.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">

        </div>

    </div>
</div>

{% endblock content %}