<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container-fluid">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <div class="nhsuk-footer nhsuk-grid-row">
              <div class="nhsuk-grid-column-three-quarters">

                  <ul class="nhsuk-footer__list">
                      <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                        <p>BarcodeChecker Application | 2024</p>
                      </li>
                  </ul>
              </div>
              <div class="nhsuk-grid-column-one-quarter">
                  <div>
                    <p class="nhsuk-footer__copyright">&copy; NHS England</p>
                  </div>
              </div>

      </div>

    </div>
  </div>
</footer>
