{% extends 'base.html' %}

{% block content %}

<style type="text/css">
        html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="text"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

<form class="form-signin w-100 m-auto" method="POST">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Checking 2 Lab Numbers - no w/s</h1>
    <div class="form-floating">
      <input type="text" name="culturecheckbarcode1" class="form-control" id="floatingInput1" placeholder="First Barcode">
      <label for="floatingInput1">First Barcode</label>
    </div>
    <div class="form-floating">
      <input type="text" name="culturecheckbarcode2" class="form-control" id="floatingInput2" placeholder="Second Barcode">
      <label for="floatingInput2">Second Barcode</label>
    </div>

    <!-- Hidden input fields for barcode_check_method and barcodecheck_result -->
    <input type="hidden" name="culturecheck_method" value="2barcodecheck_culture">
    <input type="hidden" name="culturecheck_result" value="True">


{% if 2barcodecheck_culture.errors %}
    <div style="color:red;">
        <p>{{2barcodecheck_culture.errors}}</p>
    </div>
{% endif %}

{% if 2barcodecheck_culture.non_field_errors %}
    <div style="color:red;">
        <p>{{2barcodecheck_culture.non_field_errors}}</p>
    </div>
{% endif %}

    <button class="btn btn-primary w-100 py-2" type="submit">Check</button>
</form>
{% endblock content %}