{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">
        html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="text"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

<form class="form-signin w-100 m-auto" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Checking 7 Lab Numbers</h1>


    <!-- Using request.POST to get the form values - not the best way but couldn't get barcode_check_instance to work? -->
    <div style="color:red;">
        <h5>MISMATCH ERROR!</h5>
        <h6>The barcodes entered did not match!</h6>
        <h6>{{ request.user.username }} correct this issue before proceeding</h6>
        <br>
        <p><h7>Worksheet: {{ request.POST.worksheet }}</h7></p>
        <p><h7>Barcodes: {{ request.POST.barcode1 }}, {{ request.POST.barcode2 }}, {{ request.POST.barcode3 }},
            {{ request.POST.barcode4 }}, {{ request.POST.barcode5 }}, {{ request.POST.barcode6 }},
            {{ request.POST.barcode7 }}</h7></p>
    </div>

<audio autoplay>
    <source src="{% static 'wrong_answer.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<br>
<a href="{% url 'barcodecheck7' %}" class="btn btn-primary">Retry
</a>

</form>
{% endblock content %}