{% extends 'base.html' %}

{% block content %}

<style type="text/css">
        html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="text"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

<form class="form-signin w-100 m-auto" method="POST">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Checking 2 Barcodes</h1>
    <div class="form-floating">
      <input type="text" name="worksheet" class="form-control" id="floatingInput1" placeholder="Worksheet Number">
      <label for="floatingInput1">Worksheet Number</label>
        <br>
    </div>
    <div class="form-floating">
      <input type="text" name="barcode1" class="form-control" id="floatingInput2" placeholder="First Barcode">
      <label for="floatingInput2">First Barcode</label>
    </div>
    <div class="form-floating">
      <input type="text" name="barcode2" class="form-control" id="floatingInput3" placeholder="Second Barcode">
      <label for="floatingInput3">Second Barcode</label>

    </div>

    <!-- Hidden input fields for barcode_check_function and barcodecheck_result -->
    <input type="hidden" name="barcode_check_function" value="2 barcode check">
    <input type="hidden" name="barcodecheck_result" value="True">


{% if barcodecheck2.errors %}
    <div style="color:red;">
        <p>{{barcodecheck2.errors}}</p>
    </div>
{% endif %}

<!--{% if barcodecheck2.non_field_errors %}-->
<!--    <div style="color:red;">-->
<!--        <p>{{barcodecheck2.non_field_errors}}</p>-->
<!--    </div>-->
<!--{% endif %}-->

    <button class="btn btn-primary w-100 py-2" type="submit">Check</button>
</form>
{% endblock content %}