{% extends 'base.html' %}

{% block content %}

<style type="text/css">
        html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="text"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

<form class="form-signin w-100 m-auto" method="post">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Register an Account</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput1" placeholder="name@example.com">
      <label for="floatingInput1">Email address</label>
    </div>
    <div class="form-floating">
      <input type="text" name="first_name" class="form-control" id="floatingInput2" placeholder="First Name">
      <label for="floatingInput2">First Name</label>
    </div>
    <div class="form-floating">
      <input type="text" name="last_name" class="form-control" id="floatingInput3" placeholder="Last Name">
      <label for="floatingInput3">Last Name</label>
    </div>
    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput4" placeholder="Username(lab initials)">
      <label for="floatingInput4">Username (Lab Initials)</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password1" class="form-control" id="floatingPassword1" placeholder="Password">
      <label for="floatingPassword1">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Confirm Password">
      <label for="floatingPassword2">Confirm Password</label>
    </div>

{% if registration_form.errors %}
    <div style="color:red;">
        <p>{{registration_form.errors}}</p>
    </div>
{% endif %}

    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
</form>
{% endblock content %}